extends ../layout

block title
	title= promo.title
block content_style
block content_scripts

	//each container in promo.container
		if (container.className.split(' ')[0] == 'map')
			script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?sensor=false')
			script(type='text/javascript', src='/build/js/gmap.js')
			script
				| (function(){initializeMap()})();
block content
	//.container
		.aaa= header
		each container in promo.container
			.content-block(id=container.divId, style=container.styles, class=container.className.split(' ')[0])
				div(class=container.className, style=container.stylesInner)= container.text
		.bbb= footer
	div= promo.imageContent